{% load eventurl %}
{% load i18n %}
<div class="table-responsive">
    <table class="table">
        <thead>
        <tr>
            <th>{% trans "Name" %}</th>
            <th>{% trans "Date" %}</th>
            <th>{% trans "Status" %}</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% for e in events %}{% eventurl e "presale:event.index" as url %}
            <tr>
                <td>
                    <a href="{{ url }}">{{ e.name }}</a>
                </td>
                <td>
                    {{ e.daterange|default:e.get_date_range_display }}
                </td>
                <td>
                    {% if e.has_subevents %}
                        <span class="label label-default">{% trans "Event series" %}</span>
                    {% elif e.presale_is_running and event.organizer.settings.event_list_availability %}
                        {% if e.best_availability_state == 100 %}
                            <span class="label label-success">{% trans "Book now" %}</span>
                        {% elif e.settings.waiting_list_enabled and e.best_availability_state >= 0 %}
                            <span class="label label-warning">{% trans "Waiting list" %}</span>
                        {% elif e.best_availability_state == 20 %}
                            <span class="label label-warning">{% trans "Reserved" %}</span>
                        {% elif e.best_availability_state < 20 %}
                            <span class="label label-danger">{% trans "Sold out" %}</span>
                        {% endif %}
                    {% elif e.presale_is_running %}
                        <span class="label label-success">{% trans "Book now" %}</span>
                    {% elif e.presale_has_ended %}
                        <span class="label label-danger">{% trans "Sale over" %}</span>
                        {% elif e.settings.presale_start_show_date %}
                        <span class="label label-warning">
                            {% blocktrans trimmed with date=e.presale_start|date:"SHORT_DATE_FORMAT" %}
                                Sale starts {{ date }}
                            {% endblocktrans %}
                        </span>
                    {% else %}
                        <span class="label label-warning">{% trans "Not yet on sale" %}</span>
                    {% endif %}
                </td>
                <td class="text-right flip">
                    <a class="btn btn-primary" href="{{ url }}">
                        {% if e.has_subevents %}{% trans "Buy tickets" %}
                        {% elif e.presale_is_running and e.best_availability_state == 100 %}{% trans "Buy tickets" %}
                            {% else %}{% trans "More info" %}
                        {% endif %}
                    </a>
                </td>
            </tr>
        {% empty %}
            <tr>
                <td colspan="3">
                    <em>{% trans "No public upcoming events found." %}</em>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>