{% extends "pretixcontrol/global_settings_base.html" %}
{% load i18n %}
{% load bootstrap3 %}
{% block content %}

{% if status_enabled %}
  {% if not saved %}
      <div class="alert alert-warning">
        <p>{% trans "Settings could not be applied!" %}</p>
        </div>
    {% else%}
      <div class="alert alert-success">
      {% if uploaded %}
        <p>{% trans "Settings applied and files saved!" %}</p>
      {% else%}
        <p>{% trans "Settings applied!" %}</p>
      {% endif %}
    </div>
    {% endif %}
{% endif %}

<h1>{% trans "Starting Page" %}</h1>
    <fieldset>
        <legend>{% trans "Files" %}</legend>
        <table class="table table-condensed table-hover">
          <thead>
            <tr>
              <th>{% trans "Existing Files" %}</th>
              <th>{% trans "Type" %}</th>
              <th>{% trans "Options" %}</th>
            </tr>
          </thead>
          <tbody>
            {% for inf in file_information %}
              <tr>
                <td>
                    {{inf.0}}
                </td>
                <td>
                    {{inf.1}}
                </td>
                <td>
                    <form method="POST" action="{% url 'plugins:pretix_landing_pages:delete_startingpage_file' filename=inf.2 %}">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-danger btn-sm">{% trans "Delete" %}</button>
                    </form>
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </fieldset>


<form id="delete_all" method="POST" action="{% url 'plugins:pretix_landing_pages:delete_all_startingpage_files' %}">
      {% csrf_token %}
      </form>


    <form method ='POST' enctype="multipart/form-data" class="form-horizontal">
        {% csrf_token %}

      <fieldset>
        <legend>{% trans "Custom Starting Page" %}</legend>
        {% bootstrap_form upload_form layout="horizontal"%}
      </fieldset>

      <fieldset>
        <legend>{% trans "Redirect" %}</legend>
        {% bootstrap_form redirect_form layout="horizontal" %}
      </fieldset>

          <div class="form-group submit-group">
            <button form="delete_all" type="submit" class="btn btn-danger btn-lg">{% trans "Delete All" %}</button>
            <button name="apply" type="submit" class="btn btn-primary btn-lg">
                {% trans "Save" %}
            </button>
          </div>
    </form>

{% endblock %}
